.align-middle{text-align: center !important;}
.tableSTT{text-align: center ;}
.text-danger {color: #dc3545!important;}
.row{margin-top: 10px;}
.btn-themmoi{margin-left: 15px;}

.sidebar {width: 18rem !important;}
.photoUpload-zone .photoUpload-dimension{font-weight: 600;}
.hinhanh{margin: auto;}
.content{padding: 0 0.5rem;}



